#Database credentials



# It is strongly recommended to use MySQL or SQLite
# YAML should not be used in any environment


storage: #sqlite, mysql, redis, yml (yaml)
  type: "sqlite"

mysql:
  host: "localhost"
  port: "3306"
  dbname: "kitdatabase"
  username: "username"
  password: "pa55w0rd"
  useSSL: false

redis:
  host: "localhost"
  port: 6379
  password: "pa55w0rd"


motd:
  enabled: true
  delay: 5
  message: #join messages using mini message format
    - ""
    - "<gray>   <st>                </st> <aqua><b>Per Player Kits</b><gray> <st>                </st>"
    - ""
    - "         <white>Type <aqua>/kit<white>, <aqua>/k <white>or <aqua>/pk<white> to get started!"
    - ""
    - "<gray>   <st>                                                         "
    - ""

scheduled-broadcast: #uses mini message format
  enabled: true
  period: 90 #in seconds
  messages:
    - "<white>Check out public kits with the<aqua>/pk<white> command!"
    - "<white>Want to share a kit? Use the <aqua>/sharekit <slot><white> command!"
    - "<white>Type <aqua>/kit<white>, <aqua>/k <white>or <aqua>/pk<white> to get started!"


kitroom:
  items:
    1:
      name: "OG Vanilla"
      material: "DIAMOND_SWORD"
    2:
      name: "Training"
      material: "WOODEN_SWORD"
    3:
      name: "Potions"
      material: "SPLASH_POTION"
    4:
      name: "Armory"
      material: "NETHERITE_SWORD"
    5:
      name: "Axe & UHC"
      material: "SHIELD"

disabled-command-worlds:
  - "example_world"

disabled-command-message: "&cKits are disabled here!"


publickits:
  1:
    name: "Kit 1"
    icon: "DIAMOND_SWORD"

prefix: "<gray>[<aqua>Kits</aqua>]</gray> "

messages:
  player-repaired: "<gray>%player% repaired their gear</gray>"
  player-opened-kit-room: "<gray>%player% opened the Kit Room</gray>"
  player-loaded-private-kit: "<gray>%player% loaded a kit</gray>"
  player-loaded-public-kit: "<gray>%player% loaded a public kit</gray>"
  player-loaded-enderchest: "<gray>%player% loaded an ender chest.</gray>"
  player-copied-kit: "<gray>%player% copied a kit</gray>"
  player-copied-ec: "<gray>%player% copied an ender chest</gray>"
  player-regeared: "<gray>%player% regeared</gray>"


anti-exploit:
  block-spaces-in-commands: true
  import-filter: true
  prevent-shulkers-dropping-items: true


regear:
  command-cooldown: 5 #command cooldown in seconds
  damage-timer: 5 #time in seconds to wait after taking damage before players can regear
  invert-whitelist: false #setting this to true makes the whitelist a blacklist
  whitelist:
    - ENDER_PEARL
    - END_CRYSTAL
    - OBSIDIAN
    - GLOWSTONE
    - RESPAWN_ANCHOR